.Content {
  width: 100%;
  max-width: 780px;
  margin: 40px auto 0 auto;
  padding: 0 3%;
  align-items: flex-start;
}

.ShortStory {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .Content {
    flex-direction: column;
    align-items: center;
  }
}
