.Errors {
  margin: 20px 0;
  padding: 40px;
  background: #FF7F66;
}

.Form .Errors h1 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: rgba(255,255,255,0.75);
}

.Form .Errors h1:last-child {
  margin-bottom: 0;
}
