.Form {
  margin-bottom: 40px;
}
.Form form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  background: #FF7F66;
}

@media only screen and (max-width: 768px) {
  .Form form {
    padding: 20px;
  }
}

.Form h1 {
  font-weight: bold;
  color: #FF7F66;
  margin-bottom: 0;
}

.Form form input {
  margin-bottom: 20px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #555;
  padding: 0 10px;
}

.Form form textarea {
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #555;
  background: white;
  padding: 10px;
}

.Form form label {
  color: rgba(255,255,255, 0.85);
}

.Form form button {
  display: inline-block;
  padding: 15px 25px;
  border: none;
  outline: none;
  background: #2185C5;
  color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0, 0.25);
  cursor: pointer;
}

.Form form button:hover {
  box-shadow: 3px 3px 3px rgba(0,0,0, 0.5);
}

.Form form button:active {
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
  background:  #7ECEFD;
}

.Form .ThankYou {
  width: 100%;
  background: #35A63D;
}

.Form .ThankYou h2 {
  color: rgba(255,255,255, 0.85);
  padding: 20px 40px;
}
