.FullStory h1 {
  color: #2185C5;
  font-weight: bold;
  margin-bottom: 10px;
}

.FullStory .Paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.FullStory .Paragraph p {
  padding-bottom: 30px;
}

.FullStory .Paragraph .Image {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.FullStory .Paragraph .Subtitle {
  font-size: 125%;
  color: #888;
}

@media only screen and (max-width: 768px) {
  .FullStory .Paragraph .Image {
    width: 100%;
  }
}
