.ShortBio {
  padding: 40px 0 20px 0;
}

.ShortBioParagraph {
  display: flex;
}

.ShortBio h1 {
  color: #2185C5;
  font-weight: bold;
  margin-bottom: 10px;
}

.ShortBioParagraph .TopImageWrapper {
  flex: 1 1 auto;
  padding-right: 20px;
}

.ShortBioParagraph .TopImageWrapper .TopImage {
  width: 100%;
  margin-bottom: 20px;
}

.ShortBio .ShortBioText {
  flex: 2 2 auto;
}

@media only screen and (max-width: 768px) {
  .ShortBioParagraph {
    flex-direction: column;
  }
  .ShortBioParagraph .TopImageWrapper {
    padding-right: 0;
  }
}
